.App {
  background: green;
  padding: 100px;
  color: #fff;
}

.question {
  border: 2px solid red;
}

.question .label {
  font-weight: bold;
}

.answers {
  border: 2px solid blue;
}

.answers > div{
  cursor: pointer;
}
